* {
  user-select: none;
}
.complete-task-body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Mulish'
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      background-image: url('./images/image2.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 100vh;
      z-index: -2;
  }
  .container {
    display: flex;
    height: 100vh;
    background: linear-gradient(180deg, #6a8dfd, #ca7df9);
    color: white;
  }
  
  .left-panel {
    width: 20%;
    padding: 2vh;
    padding-right: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2%;
    border-right: 0.1vh solid white;
    /* justify-content: space-between; */
  }
  .left-panel-variables {
    /* width: 80%; */
    padding: 0vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: flex-start; */
    gap: 2%;
  }
  .left-panel-headers {
    display: flex;
    flex-direction: row;
    gap: 2%;
    
  }
  .left-panel-header:hover {
    cursor: pointer;

  }
  .left-panel-header-active {
    color: #44DCED;
  }
  .left-panel h3 {
    font-size: 1.8vh;
    margin-bottom: 2vh;
    align-self: center;
  }
  
  .left-panel-button {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    /* border: none; */
    padding: 1vh 2vh;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 1.4vh;
    width: 25vh;
    text-align: center;
    align-self: center;
  }
  
  .left-panel-button:hover {
    background-color: #FF9F67;
    
  }
  
  .new-block-btn {
    margin-top: 2vh;
    color:black;
    border: 1px solid black;
    /* padding: 1vh 2vh; */
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 3vh;
    width: 25vh;
    height: 10vh;
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* margin-right: 60px; */
    /* margin-top: auto; Push the submit button to the bottom */
    margin-bottom: 25px;
  }
  .new-block-btn:hover {
    background-color: #e2e0e0;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2);
    /* transform: translateY(-5px); */
  }
  .uml-panel {
    flex-grow: 1; 
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: width 0.3s ease;
  }
  
  .uml-block {
    background-color: white;
    color: black;
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    z-index: 8;
  }
  .uml-block:hover {
    cursor: pointer;
    z-index: 8;
  }
  .uml-block:hover:active {
    cursor: move;
    z-index: 8;
  }
  .class-title {
    font-weight: bold;
    font-size: 18px;
    /* background-color: #f0f0f0; */
    padding: 10px;
    z-index: 8;
  }
  
  .class-attributes,
  .class-methods {
    padding: 10px;
    text-align: left;
    border-top: 1px solid black;
    z-index: 8;
  }
  
  .right-panel {
    text-align: start;
    font-family: 'Mulish';
    width: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content at the top */
    align-items: flex-start;
    border-left: 0.1vh solid white;
    height: 95.5%;
    transition: width 0.3s ease; /* Ensures the panel fills the container height */
  }

  .right-panel.hidden {
    display: none; /* Hides the right panel when closed */
  }
 
  .right-panel h3 {
    color: black;
    /* font-size: 20px; */
    margin-bottom: 0; /* Removes bottom margin */
  }
  
  .right-panel p {
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px; /* Removes top margin to pull closer to the name */
    margin-bottom: 50px; /* Adds space after the description */
    
  }

  .toggle-right-panel-btn {
    background-color: #FF9F67;
    color: white;
    font-size: 5px;
    width:20px;
    height: 20px;
    border: none;
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    margin-right: 0px;
  }
  
  .toggle-right-panel-btn:hover {
    background-color: #ff7f00;
  }
  
  .always-visible-panel {
    position: fixed;
    z-index: 2;
    height: 98%;
    top: 20px; /* Position timer 20px from top */
    right: 20px; /* Position both elements 20px from the right */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    justify-content: flex-start; /* Start with the timer at the top */
  }
  
  .timer {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Adds space below the timer */
    margin-right: 60px;
  }
  
  .submit-btn {
    background-color: orange;
    z-index: 10;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    height: 7%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 60px;
    margin-top: auto; /* Push the submit button to the bottom */
    margin-bottom: 25px; /* 25px from the bottom */
  }
  
  .submit-btn:hover {
    background-color: #ff7f00;
    cursor: pointer;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2);
  }
  
  .context-menu {
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0.3vh; */
  }
  
  .context-menu button {
    background-color: #ff5757;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    /* width: 100%; */
  }
  
  .context-menu button:hover {
    background-color: #ff4040;
  }
  .placeholder {
    color: #aaa;
    font-style: italic;
    padding: 5px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px dashed #ccc;
    border-radius: 5px;
    z-index: 8;
  }
  .drag-handle {
    z-index: 8;
  }
  .points {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    pointer-events: none;
  }
  
  .point {
    width: 10px; /* Розмір точок */
    height: 10px;
    background-color: black;
    border-radius: 50%;
    pointer-events: all;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Тінь для точок */
  }
  
  .top {
    position: absolute;
    top: -5px; /* Зміщення на середині верхньої грані */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .left {
    position: absolute;
    left: -5px; /* Зміщення на середині лівої грані */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .bottom {
    position: absolute;
    bottom: -5px; /* Зміщення на середині нижньої грані */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .right {
    position: absolute;
    right: -5px; /* Зміщення на середині правої грані */
    top: 50%;
    transform: translateY(-50%);
  }
  .uml-panel {
    position: relative;
    z-index: 4;
    
  }
  .uml-block .points {
    visibility: hidden;
    position: absolute;
    z-index: 8;
  }
  .uml-block:hover .points {
    visibility: visible;
  }
  
  .uml-panel-svg {
    z-index: 0;
    position: absolute;
  }
  
  .uml-block {
    position: absolute;
  }
  .arrow-buttons {
    padding-bottom:0.3vh;
    display: flex;
    flex-direction: column;
    gap: 0.3vh;
  }
  .arrow-buttons button {
    background-color: #FF9F67;
  }
  .arrow-buttons button:hover {
    background-color: white;
    color: #FF9F67;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content h2 {
    margin-bottom: 10px;
  }
  
  .popup-content button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    /* background: #007bff; */
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    /* background: #0056b3; */
  }
  .butts {
    display: flex;
    gap: 10px;
  }
  .butt-red {
    background: #ff4040;
  }
  .butt-red:hover {
    background:darkred;
  }
  .butt {
    background: #007bff;
  }
  .butt:hover {
    background: #0056b3;
  }