.user-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Mulish";
}


.user-account {
  display: flex;
  width: 90%;
  height: 80%;
  /* flex: 1; */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.315);
  overflow: hidden;
}

.user-account-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: top; /* Centers content vertically */
  align-items: left; /* Centers content horizontally */
  width: 16%;
  padding: 20px;
  background-color: #ff9f43;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
}

.sidebar-button.active {
  background-color: #ffffff;
  color: #ff9f43;
}

.user-account-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}
