.user-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.account-header {
  text-align: center; /* Center text inside the h2 */
  width: 100%; /* Ensure it spans full width */
  margin-bottom: 20px; /* Center the text inside the h2 */
}

.user-account {
  width: 80%;
  height: 77%;
  background-color: #ffffff89;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column; /* Make the layout horizontal */
  justify-content: flex-start; /* Align content to the start */
  align-items: center; /* Keep content at the top */
}

.account-content {
  display: flex;
  flex-direction: column; /* Stack header and buttons vertically */
  align-items: flex-start; /* Align header and buttons to the left */
  width: 100%; /* Ensure full-width alignment */
  gap: 3%;
}


.user-account-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%; /* Ensure buttons span the full width */
  justify-content: flex-start; /* Keep buttons aligned at the top */
  align-items: flex-start; 
  height: 100%; /* Ensure the buttons container takes up full height */
}

.account-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff9f43;
  color: white;
  width: 80%; /* Set width to 10% */
  margin: 5px 0; /* Optional: Add some margin between buttons */
}

.account-button:hover {
  background-color: #ffffff;
  color: #ff9f43;
}
